<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Person Administration</title>
</head>
<body>
	<h1>Person Admin</h1>
	<div>
		<ul><a href="personchangepassword">Change Password</a></ul></br>
		<ul><a href="personaddnew">Add a new person</a></ul></br>
		<ul><a href="persondelete">Delete a person</ul></br>
		<ul><a href="personlistall">List all persons</a></ul></br>
		<ul><a href="personlistbyid">Search for person by id</ul>
	</div> 
<form action="#" th:action="@{/gotowelcome}" method="get">
		<input type="submit" th:value="Back"> </input>
</form>		
</body>
</html>