<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Delete a person by ID</title>
</head>
<body>
<h1>Attention!! Person to delete !!</h1>
<form action='#' method="post" th:action="@{/persondelete}" th:object="${person}">
		<table width="345" border="1" bgcolor="#FF0000">
			<tr>
				<th>Enter person ID</th>
				<td><input type="text" th:field="*{personId}"/></td>
			</tr>
			<tr>
				<th colspan="2"><input type="submit" value="Submit"/>
			</tr>
		</table>
</form>		
<span th:text="${outputmessage}" />
<form action="#" th:action="@{/gotopersonadmin}" method="get">
		<input type="submit" th:value="Back"> </input>
</form>
</body>
</html>