<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Change Password</title>
</head>
<body>
<form action='#' method="post" th:action="@{/personchangepassword}" th:object="${login}">
		<table width="345" border="1" bgcolor="#F9A7B0">
			<tr>
				<th height="34">Give new password</th>
				<td><input type="text" th:field="*{password}"/></td>
			</tr>
			<tr>
				</br>
				<th height="39" colspan="2"><input type="submit" value="Submit"/>
			</tr>
		</table>
</form>
<span th:text="${outputmessage}" />
<form action="#" th:action="@{/gotopersonadmin}" method="get">
		<input type="submit" th:value="Back"> </input>
</form>
</body>
</html>